@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    color: #3c3c3c;
}

/*### header ###*/
header{
    height: 100px;
    width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        text-decoration: none;
        color: #3c3c3c;
    }

    header img{
        vertical-align: middle;
        margin-right: 12px;
    }

    header nav a{
        margin-right: 20px;
    }

/*### hero-banner ###*/
#hero-banner{
    height: 500px;

    background-image: url(../imgs/hero-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* x  y */

    display: flex;
    align-items: center; /* centrar convenido en vertical */
}

    #hero-banner h1{
        margin-left: 100px;
        font-size: 32px;
        color: white;
    }

/*### Promos ###*/
#promos{
    width: 1100px;
    height: 500px;
    margin: 62px auto 0px auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #F9F2EC;
}

    #promos article{
        width: 285px;
        height: 350px;
        background-color: rgb(255, 255, 255);
    }
    #promos article h2{
        font-size: 16px;
        margin: 16px 0px 12px 16px;
    }
    #promos article p{
        margin-left: 16px;
    }

/*### Destinos ###*/
#destinos{
    width: 1100px;
    margin: 62px auto 0px auto;
}
    #destinos article{
        display: flex;
        margin-bottom: 32px;
    }
        #destinos article div{
            width: 550px;  
        }
        #destinos article div h3{
            margin-top: 104px;
            text-align: center;
        }
        #destinos article div p{
            width: 350px;
            margin: 16px auto 0px auto;
        }
        #destinos article div a{
            display: block;
            margin: 12px auto 0px auto;
            padding: 8px 0px; /* separación interna */
            text-align: center;
            width: 140px;
            border: 1px solid #3c3c3c;
            border-radius: 16px;
            text-decoration: none;
            color: #3c3c3c;
            /* demora en cambio de estado */
            transition: 500ms;
        }
        #destinos article div a:hover{
            background-color: #3c3c3c;
            color: #fff;
        }

    